<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Note deletion</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="close(false)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p><strong>Are you sure you want to delete <span class="text-primary">{{data?.title}}</span>?</strong></p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close(false)">Cancel</button>
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="close(true)">Ok</button>
</div>